@charset "UTF-8";

* {
	font-family: 'Noto Sans KR', sans-serif;
}
.logo {
	font-family: 'Leckerli One', cursive;
	font-weight: lighter;
	font-size:50px;
}
header {
	height:100px;
}
#searchBar {
	height:50px;
}
#searchTagBtn {
	background-color:#ED4956;
	color:white;
}
.navBar {
	height:50px;
}
.profileImage {
	width:50px;
	height:50px;
	border-radius:50%;
	border: 3px solid #ED4956;
}
.contents {

}
textarea {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}
#imageUploadBtn {
	background-color:white;
}
#uploadBtn {
	background-color:white;
}
.writing-box {
	width:470px;
	border: 2px solid #E7E9EC;
}
.post-box {
	width:470px;
	height:620px;
	border: 2px solid #E7E9EC;
}
.post-image {
	width:450px;
	height:450px;
}
#idCheckBtn {
	background-color:white;
}

#signUpForm {
}
#likeBtn {
	background-color:white;
}
#commentViewBtn{
	background-color:white;
}
#commentBtn{
	background-color:white;
}
footer {
	height:100px;
}